body {
	background-color: #D6EAF8;
}

h1 {
	color:#0E6251;
} 
table {
	width:100%;
}
table, th, td {
    border: 1px solid black;
   
}

ul {
    list-style-type: none;
    margin: 5px 120px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #2ECC71;
}
