table, th, td {
    border: 1px solid black;
   
}

body {
	background-color: #D6EAF8;
}

h1 {
	color:#0E6251;
}

ul {
    list-style-type: none;
    margin: 5px 120px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #2ECC71;
}

input[type=text], input[type=password] {
    width: 20%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid ;
    box-sizing: border-box;
}
input[type=checkbox] {
	position: absolute;
    left: 620px;
}

span {
    position: absolute;
    left: 510px;
    width: 30px;
    height: 30px;

}

input[type=submit] {
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
	}
